<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
            <form class="w3-container" action="/login" method="POST">

                <label for="email" class="w3-text-green">E-mail</label>
                <input type="email" name="email" id="email" class="w3-input w3-border">


                <label for="password" class="w3-text-green">Password</label>
                <input type="password" name="password" id="password" class="w3-input w3-border">

                <button type="submit" class="w3-btn w3-green">Login</button>

                
            </form>
    </main>
</body>

</html>